*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

background:#09090B;

color:#F8FAFC;

font-family:Inter,sans-serif;

overflow-x:hidden;

}

a{
text-decoration:none;
}

.primary{
color:#6D5DFE;
}

.section{
min-height:100vh;
padding:0 8%;
}

.glow{

box-shadow:
0 0 60px
rgba(109,93,254,.3);

}
.hero-card{

width:350px;

height:420px;

background:
rgba(255,255,255,.03);

border:
1px solid
rgba(255,255,255,.1);

backdrop-filter:
blur(20px);

border-radius:
30px;

padding:
40px;

position:
relative;

overflow:hidden;

}

.hero-card:hover{

transform:
translateY(-10px);

transition:.4s;

}

.hero-glow{

position:absolute;

width:250px;

height:250px;

background:#6D5DFE;

filter:
blur(150px);

top:-50px;

right:-50px;

}

.hero-profile{

font-size:120px;

text-align:center;

margin-top:40px;

}

.primary{

background:
linear-gradient(
90deg,
#6D5DFE,
#00F5D4
);

-webkit-background-clip:text;

color:transparent;

}

@keyframes float{

0%{

transform:
translateY(0);

}

50%{

transform:
translateY(-15px);

}

100%{

transform:
translateY(0);

}

}

.hero-card{

animation:
float 4s ease infinite;

}