*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

background:#09090B;

color:#F8FAFC;

font-family:Inter,sans-serif;

overflow-x:hidden;

}

a{
text-decoration:none;
}

.primary{
color:#6D5DFE;
}

.section{
min-height:100vh;
padding:0 8%;
}

.glow{

box-shadow:
0 0 60px
rgba(109,93,254,.3);

}